
//------------------------------------------------------------------------------
// Copyright (c) 2011 by Silicon Laboratories Inc.  All rights reserved.
// The program contained in this listing is proprietary to Silicon Laboratories,
// headquartered in Austin, Texas, U.S.A. and is subject to worldwide copyright
// protection, including protection under the United States Copyright Act of 1976
// as an unpublished work, pursuant to Section 104 and Section 408 of Title XVII
// of the United States code.  Unauthorized copying, adaptation, distribution,
// use, or display is prohibited by this law.
//
// Silicon Laboratories provides this software solely and exclusively
// for use on Silicon Laboratories' microcontroller products.
//
// This software is provided "as is".  NO WARRANTIES, WHETHER EXPRESS, IMPLIED
// OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE APPLY TO THIS SOFTWARE.
// SILICON LABORATORIES SHALL NOT, IN ANY CIRCUMSTANCES, BE LIABLE FOR SPECIAL,
// INCIDENTAL, OR CONSEQUENTIAL DAMAGES, FOR ANY REASON WHATSOEVER.
//------------------------------------------------------------------------------

#ifndef __MYLINKEROPTIONS_H__
#define __MYLINKEROPTIONS_H__

//------------------------------------------------------------------------------
// APPLICATION DEPENDENT LINKER OPTIONS - included by linker_<device>.h
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Select one MCU:
# define si32LinkerOption_mcu_sim3l13x 0
# define si32LinkerOption_mcu_sim3l14x 1
# define si32LinkerOption_mcu_sim3l15x 0
# define si32LinkerOption_mcu_sim3l16x 0

//------------------------------------------------------------------------------
// Stack Size
# define si32LinkerOption_stack_size 0x00000200

//------------------------------------------------------------------------------
// Heap Size
# define si32LinkerOption_heap_size  0x00000400

#endif // __MYLINKEROPTIONS_H__

//---eof------------------------------------------------------------------------
